# dependencies
node_modules
package.json
package-lock.json

# next
.next
public

# eslint
eslint.config.mjs

# prettier
.prettierrc

# github
README.md

# typescript
tsconfig.json
